<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	"
	>

	<context:component-scan base-package="nl.nn.testtool"/>

	<bean name="testTool" class="nl.nn.testtool.TestTool" autowire="byName">
		<property name="configName" value="Ladybug Test Webapp"/>
		<property name="configVersion" value="1.0"/>
		<property name="maxCheckpoints" value="1000"/>
		<property name="maxMemoryUsage" value="1000000"/>
		<property name="maxMessageLength" value="100000"/>
		<property name="regexFilter" value=".*"/>
	</bean>

	<bean name="whiteBoxView" class="nl.nn.testtool.filter.View" autowire="byName">
		<property name="name" value="White box"/>
	</bean>

	<!-- Demonstrate/test different list of columns for debug tab using a view -->
	<bean name="nameOnlyView" class="nl.nn.testtool.filter.View" autowire="byName">
		<property name="name" value="Report name only"/>
		<property name="metadataNames">
			<list>
				<value>storageId</value><!-- Without storageId the report cannot be opened -->
				<value>name</value>
			</list>
		</property>
	</bean>

	<bean name="fileStorageView" class="nl.nn.testtool.filter.View" autowire="byName">
		<property name="name" value="File storage"/>
		<property name="debugStorage">
			<ref bean="fileStorage"/>
		</property>
	</bean>

	<bean name="databaseStorageView" class="nl.nn.testtool.filter.View" autowire="byName">
		<property name="name" value="Database storage"/>
		<property name="debugStorage">
			<ref bean="databaseStorage"/>
		</property>
	</bean>

	<bean name="views" class="nl.nn.testtool.filter.Views">
		<property name="views">
			<list>
				<ref bean="nameOnlyView"/>
				<ref bean="whiteBoxView"/>
				<ref bean="fileStorageView"/>
				<ref bean="databaseStorageView"/>
				<ref bean="proofOfMigrationView"/><!-- See Config.java -->
				<ref bean="proofOfMigrationErrorsView"/><!-- See Config.java -->
			</list>
		</property>
		<property name="defaultView" ref="defaultView"/>
	</bean>

	<!-- Profiles can override the default view with this bean -->
	<bean name="defaultView" class="java.lang.String">
		<!-- Demonstrate/test setting default view to other than first view in the list  -->
		<constructor-arg value="White box"/>
	</bean>

	<bean name="xsltResource" class="java.lang.String" primary="true">
		<constructor-arg value="nl/nn/testtool/test/junit/transformReport.xslt"/>
	</bean>

	<bean name="rerunner" class="nl.nn.testtool.test.webapp.SimpleRerunner" autowire="byName"/>

	<bean name="observerRoles" class="java.util.ArrayList">
		<constructor-arg>
			<list>
				<value>IbisObserver</value>
				<value>IbisDataAdmin</value>
				<value>IbisAdmin</value>
				<value>IbisTester</value>
			</list>
		</constructor-arg>
	</bean>

	<bean name="dataAdminRoles" class="java.util.ArrayList">
		<constructor-arg>
			<list>
				<value>IbisDataAdmin</value>
				<value>IbisAdmin</value>
				<value>IbisTester</value>
			</list>
		</constructor-arg>
	</bean>

	<bean name="testerRoles" class="java.util.ArrayList">
		<constructor-arg>
			<list>
				<value>IbisTester</value>
			</list>
		</constructor-arg>
	</bean>

	<!-- Use memory storage by default as Cypress tests depend on memory storage / starting with empty storages -->

	<bean name="debugStorage" class="nl.nn.testtool.storage.memory.Storage" autowire="byName">
		<property name="name" value="Debug"/>
	</bean>

	<bean name="testStorage" class="nl.nn.testtool.storage.memory.Storage" autowire="byName">
		<property name="name" value="Test"/>
	</bean>

	<bean name="fileStorage" class="nl.nn.testtool.storage.file.Storage" autowire="byName" init-method="init">
		<property name="name" value="fileStorage"/>
		<property name="reportsFilename" value="../ibis-ladybug/data/file-storage/ladybug.tts"/>
		<property name="metadataFilename" value="../ibis-ladybug/data/file-storage/ladybug.ttm"/>
	</bean>

	<bean name="databaseStorage" class="nl.nn.testtool.storage.database.DatabaseStorage" autowire="byName" init-method="init">
		<property name="name" value="databaseStorage"/>
	</bean>

	<bean name="dataSource" class="org.h2.jdbcx.JdbcDataSource">
		<property name="URL" value="jdbc:h2:../ibis-ladybug/data/database-storage/ladybug"/>
	</bean>

	<bean name="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean name="liquibase" class="liquibase.integration.spring.SpringLiquibase">
		<property name="dataSource" ref="dataSource" />
		<property name="changeLog" value="classpath:LadybugDatabaseChangelog.xml" />
	</bean>

	<bean name="liquibase2" class="liquibase.integration.spring.SpringLiquibase">
		<property name="dataSource" ref="dataSource" />
		<property name="changeLog" value="classpath:ProofOfMigrationDatabaseChangelog.xml" />
	</bean>

	<beans profile="storage.file">
		<bean name="defaultView" class="java.lang.String">
			<constructor-arg value="File storage"/>
		</bean>
		<bean name="testStorage" class="nl.nn.testtool.storage.file.TestStorage" autowire="byName" init-method="init">
			<property name="name" value="Test"/>
			<property name="reportsFilename" value="../ibis-ladybug/data/file-storage/ladybug.tts"/>
			<property name="metadataFilename" value="../ibis-ladybug/data/file-storage/ladybug.ttm"/>
		</bean>
	</beans>

	<beans profile="storage.xml">
		<bean name="testStorage" class="nl.nn.testtool.storage.xml.XmlStorage" autowire="byName" init-method="init">
			<property name="name" value="Test"/>
			<property name="reportsFolder" value="../ibis-ladybug-test-webapp/src/test/testtool"/>
		</bean>
	</beans>

	<beans profile="storage.database">
		<bean name="defaultView" class="java.lang.String">
			<constructor-arg value="Database storage"/>
		</bean>
	</beans>

	<beans profile="storage.proofofmigration">
		<bean name="defaultView" class="java.lang.String">
			<constructor-arg value="Proof of migration storage"/>
		</bean>
	</beans>

</beans>
