<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	"
	>

	<bean name="metadataExtractor" class="nl.nn.testtool.MetadataExtractor">
		<property name="extraMetadataFieldExtractors">
			<list>
				<bean class="nl.nn.testtool.metadata.StatusExtractor"/>
			</list>
		</property>
	</bean>

	<bean name="testTool" class="nl.nn.testtool.TestTool" autowire="byName">
		<property name="configName" value="Ladybug Test Webapp"/>
		<property name="configVersion" value="1.0"/>
		<property name="maxCheckpoints" value="1000"/>
		<property name="maxMemoryUsage" value="1000000"/>
		<property name="maxMessageLength" value="100000"/>
		<property name="regexFilter" value=".*"/>
	</bean>

	<bean name="whiteBoxViewMetadataNames" class="java.util.ArrayList">
		<constructor-arg>
			<list>
				<value>storageId</value>
				<value>endTime</value>
				<value>duration</value>
				<value>name</value>
				<value>correlationId</value>
				<value>status</value>
				<value>numberOfCheckpoints</value>
				<value>estimatedMemoryUsage</value>
				<value>storageSize</value>
			</list>
		</constructor-arg>
	</bean>
	
	<bean name="whiteBoxView" class="nl.nn.testtool.filter.View" scope="prototype">
		<property name="name" value="White box"/>
		<property name="storage">
			<ref bean="debugStorage"/>
		</property>
		<property name="metadataNames">
			<ref bean="whiteBoxViewMetadataNames"/>
		</property>
	</bean>

	<bean name="views" class="nl.nn.testtool.filter.Views" scope="prototype">
		<property name="views">
			<list>
				<ref bean="whiteBoxView"/>
			</list>
		</property>
	</bean>

	<bean name="treePane" class="nl.nn.testtool.echo2.reports.TreePane" autowire="byName" init-method="initBean" scope="prototype"/>

	<bean name="reportsComponent" class="nl.nn.testtool.echo2.reports.ReportsComponent" autowire="byName" init-method="initBean" scope="prototype">
		<property name="testTool">
			<ref bean="testTool"/>
		</property>
		<property name="views">
			<ref bean="views"/>
		</property>
		<property name="metadataExtractor">
			<ref bean="metadataExtractor"/>
		</property>
	</bean>

	<bean name="debugPane" class="nl.nn.testtool.echo2.DebugPane" init-method="initBean" scope="prototype">
		<property name="reportsTreeCellRenderer">
			<ref bean="reportsTreeCellRenderer"/>
		</property>
		<property name="testTool">
			<ref bean="testTool"/>
		</property>
		<property name="testStorage">
			<ref bean="testStorage"/>
		</property>
		<property name="reportsComponent">
			<ref bean="reportsComponent"/>
		</property>
		<property name="treePane">
			<ref bean="treePane"/>
		</property>
		<property name="reportXmlTransformer">
			<ref bean="reportXmlTransformer"/>
		</property>
	</bean>

	<bean name="testPane" class="nl.nn.testtool.echo2.TestPane" init-method="initBean" scope="prototype">
		<property name="treePane">
			<bean class="nl.nn.testtool.echo2.test.TreePane" autowire="byName" init-method="initBean" >
				<property name="storage">
					<ref bean="testStorage"/>
				</property>
			</bean>
		</property>
		<property name="infoPane">
			<bean class="nl.nn.testtool.echo2.test.InfoPane" init-method="initBean">
				<property name="testComponent">
					<bean class="nl.nn.testtool.echo2.test.TestComponent" init-method="initBean">
						<property name="testTool">
							<ref bean="testTool"/>
						</property>
						<property name="debugStorage">
							<ref bean="debugStorage"/>
						</property>
						<property name="testStorage">
							<ref bean="testStorage"/>
						</property>
						<property name="reportXmlTransformer">
							<ref bean="reportXmlTransformer"/>
						</property>
					</bean>
				</property>
			</bean>
		</property>
	</bean>

	<bean name="comparePane" class="nl.nn.testtool.echo2.ComparePane" init-method="initBean" scope="prototype">
		<property name="reportsTreeCellRenderer">
			<ref bean="reportsTreeCellRenderer"/>
		</property>
		<property name="testTool">
			<ref bean="testTool"/>
		</property>
		<property name="testStorage">
			<ref bean="testStorage"/>
		</property>
		<property name="reportsComponent1">
			<bean parent="reportsComponent">
				<property name="addCompareButton" value="true"/>
				<property name="addSeparateOptionsRow" value="true"/>
				<property name="focusMaxMetadataTableSize" value="false"/>
			</bean>
		</property>
		<property name="reportsComponent2">
			<bean parent="reportsComponent">
				<property name="addCompareButton" value="true"/>
				<property name="addSeparateOptionsRow" value="true"/>
				<property name="focusMaxMetadataTableSize" value="false"/>
			</bean>
		</property>
		<property name="treePane1">
			<ref bean="treePane"/>
		</property>
		<property name="treePane2">
			<ref bean="treePane"/>
		</property>
		<property name="reportXmlTransformer">
			<ref bean="reportXmlTransformer"/>
		</property>
	</bean>

	<bean name="tabs" class="nl.nn.testtool.echo2.Tabs" scope="prototype">
		<property name="tabs">
			<list>
				<ref bean="debugPane"/>
				<ref bean="testPane"/>
				<ref bean="comparePane"/>
			</list>
		</property>
	</bean>

	<bean name="echo2Application" class="nl.nn.testtool.echo2.Echo2Application" autowire="byName" init-method="initBean" scope="prototype">
		<property name="contentPane">
			<bean class="nextapp.echo2.app.ContentPane"/>
		</property>
		<property name="reportsTreeCellRenderer">
			<ref bean="reportsTreeCellRenderer"/>
		</property>
		<property name="tabs">
			<ref bean="tabs"/>
		</property>
	</bean>

	<bean name="reportsTreeCellRenderer" class="nl.nn.testtool.echo2.reports.ReportsTreeCellRenderer"/>

	<bean name="reportXmlTransformer" class="nl.nn.testtool.transform.ReportXmlTransformer">
		<property name="xsltResource" value="nl/nn/testtool/test/junit/transformReport.xslt"/>
	</bean>

	<bean name="rerunner" class="nl.nn.testtool.test.webapp.SimpleRerunner" autowire="byName"/>

	<beans profile="default,storage.memory">

		<bean name="debugStorage"  class="nl.nn.testtool.storage.memory.Storage" autowire="byName">
			<property name="name" value="Debug"/>
		</bean>

		<bean name="testStorage" class="nl.nn.testtool.storage.memory.Storage" autowire="byName">
			<property name="name" value="Test"/>
		</bean>

	</beans>

	<beans profile="storage.file">

		<bean name="debugStorage" class="nl.nn.testtool.storage.file.Storage" autowire="byName" init-method="init">
			<property name="name" value="Logging"/>
			<property name="reportsFilename" value="../ibis-ladybug/logs/testtool4testtooltest.tts"/>
			<property name="metadataFilename" value="../ibis-ladybug/logs/testtool4testtooltest.ttm"/>
			<property name="persistentMetadata">
				<list>
					<value>storageId</value>
					<value>storageSize</value>
					<value>endTime</value>
					<value>duration</value>
					<value>name</value>
					<value>correlationId</value>
					<value>status</value>
					<value>numberOfCheckpoints</value>
					<value>estimatedMemoryUsage</value>
				</list>
			</property>
		</bean>

		<bean name="testStorage" class="nl.nn.testtool.storage.xml.XmlStorage" autowire="byName" init-method="init">
			<property name="name" value="Test"/>
			<property name="reportsFolder" value="../ibis-ladybug-test-webapp/src/test/testtool"/>
		</bean>

	</beans>

</beans>
