/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #eca831;
    transform: scale(0.7);
}

h1 {
    color: #333;
}

/* Add more styles as needed */


.cm-content {
    border: solid 1px black;

}

.error-message {
    padding-top: 100px;
}

.wearefrank-logo {
    --scale: calc(100vw / 1920);
    transform: scale(var(--scale));
}

.wearefrank-logo {
    padding: 80px;
}

hr {
    color: white;
    width:100%;
    margin-top:-50px;
    margin-bottom: -50px;
    height:.2px;
}